*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Android Studio
.idea/
.navigation/
captures/

# Build folders
build/
app/build/

# Keystore files
*.jks
*.keystore

# Google Services (if applicable)
google-services.json

# Supabase edge functions & JS/TS
node_modules/
.env
supabase/.temp/
